* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url("img/post-bg.jpg")!important;
}

.head-cust {
    width: 100%;

}

.header-cust {
    margin-top: 30px;
    background-image: url("img/home-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

h2, h3 {
    color: #000;
}

nav>a {
    color: black;
}

a {
    text-decoration: none !important;
}